<div class="instruments">
  <img
    id="hero"
    src="../../assets/Hero/tradeHero.jpg"
    alt="Close up of violin turning pegs"
  />
  <!-- <div class="credit">
    <p class="credit-text">Photo by Nicky Murray</p>
    <a href="https://www.instagram.com/nickymurrayphotography/">
      <img
        class="credit-link"
        src="../../assets/instagram-svgrepo-com.svg"
        alt=""
    /></a>
  </div> -->
  <h1>Trade Instruments</h1>
  <div class="instrumentsContent">
    <div class="information">
      <p>
        Beside repairs and restoration, making my own instruments and set-up work, 
        I also offer other instruments for sale. 
        Looking for an upgrade from your current instrument? 
        I have a small stock of violins and violas for various budgets. 
      </p>
      <p>
        If you would like to try one of these instruments head on over to 
        the contact page to set up an appointment.
      </p>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
        (click)="enlarge($event)"
        src="../../assets/German_Violin/IMG_5082.JPG"
        alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/German_Violin/IMG_5085.JPG"
        alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/German_Violin/IMG_50891.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/German_Violin/IMG_5091.JPG"
          alt=""
        />
       
      </div>
      <div class="instrument-object-info">
        <h3>Mid 19th century German Violin</h3>    
        <p class="trade-instrument-p">Fully restored with a professional set-up this is a wonderful instrument for anyone looking to upgrade.</p>
        <p class="trade-instrument-p">Rich tone and responsive to play, this violin suits both folk and classical music.</p>
        <p class="trade-instrument-p">Oil varnish finish and professionally set up: this instrument has a powerful sound that responds easily to the player.  A perfect instrument if you're looking to upgrade to a handmade violin: ideal for the musician going to conservatoir.</p>
        <p class="trade-instrument-p">Priced at £2850 and available to take on trail.</p>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
        (click)="enlarge($event)"
        src="../../assets/Oliver_Nicholson/P1090726.jpg"
        alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/Oliver_Nicholson/P1090727.jpg"
        alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Oliver_Nicholson/P1190938.jpg"
          alt=""
        />
       
      </div>
      <div class="instrument-object-info">
        <h3>Handmade violin by Oliver Nicholson 4/4</h3>    
        <p class="trade-instrument-p">This stunning violin was made by the talented Oliver Nicholson during his time as a student at the world renowned Newark School of Violin Making.</p>
        <p class="trade-instrument-p">Based on the Huberman model by Stradivarius, Oliver adjusted the shape creating this striking shape.</p>
        <p class="trade-instrument-p">Oil varnish finish and professionally set up: this instrument has a powerful sound that responds easily to the player.  A perfect instrument if you're looking to upgrade to a handmade violin: ideal for the musician going to conservatoir.</p>
        <p class="trade-instrument-p">Oliver is a young violin maker based in Ely England and a master of many crafts. He also makes beautiful handmade violin and viola bows and he engineers intricate specialist tools for luthiers. With a keen eye to detail Oliver produces wonderful instruments with clean and crisp woodwork. Combining traditional building techniques and the best tonewood he manages to create instruments that are not only beautiful to look at, they also sound and play amazing.</p>
        <p class="trade-instrument-p">Priced at £3000 and available to take on trial.</p>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img class="landscape"
        (click)="enlarge($event)"
        src="../../assets/Hindersine/Scroll.JPG"
        alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/Hindersine/Front.JPG"
        alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Hindersine/Back.JPG"
          alt=""
        />
      </div>
      <div class="instrument-object-info">
        <h3>Modern Hindersine Veracini Violin 4/4</h3>    
        <p class="trade-instrument-p">A perfect violin for aspiring student violinists.</p>
        <p class="trade-instrument-p">Looking for an upgrade from a school violin, this would be a perfect fit.</p>
        <p class="trade-instrument-p">With a professional set up making this instrument a joy to play, taking the player through all their musical grades.</p> 
        <p class="trade-instrument-p">Comes with a hard case, carbon fibre bow, rosin and a shoulder rest.</p>
        <p class="trade-instrument-p">Priced at £650 for the set.</p>
      </div>
    </div>
    <div (click)="close($event)" id="shower">
        <div class="viewed">
        <img src="" id="viewed-image" />
        <p>Click anywhere to close image</p>
        </div>
    </div>
</div>
