<div class="instruments">
  <img
    id="hero"
    src="../../assets/Hero/instrumentsHero.jpg"
    alt="Close up of violin turning pegs"
  />
  <div class="credit">
    <p class="credit-text">Photo by Nicky Murray</p>
    <a href="https://www.instagram.com/nickymurrayphotography/">
      <img
        class="credit-link"
        src="../../assets/instagram-svgrepo-com.svg"
        alt=""
    /></a>
  </div>
  <h1>Made by Me</h1>
  <div class="instrumentsContent">
    <div class="information">
      <p>
        Here you can see all the instruments I have made in my career thus far,
        with information such as which model it is based on and what wood it is
        made of. And most importantly if they are available to purchase or not,
        either directly from my workshop or which Violin shop/dealer you can
        find them.
      </p>
      <p>
        Want to try one out? Fill in the form on the contact page and secure an
        appointment.
      </p>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
        (click)="enlarge($event)"
        src="../../assets/Cerridwen/cerridwen_01.JPG"
        alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/Cerridwen/cerridwen_02..JPG"
        alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cerridwen/cerridwen_03..JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cerridwen/cerridwen_04.JPG"
          alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/Cerridwen/cerridwen_05.JPG"
        alt=""
      />
        <img
        (click)="enlarge($event)"
        src="../../assets/Cerridwen/cerridwen_06.JPG"
        alt=""
        />
        
        <img
          (click)="enlarge($event)"
          src="../../assets/Cerridwen/cerridwen_07.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cerridwen/cerridwen_08.JPG"
          alt=""
        />
      </div>
      <div class="instrument-object-info">
        <h3>Violin 'Cerridwen'</h3>
        <p class="sale">Sold!</p>
        <p>Based on the Nicolo Amati 1649 'Alard' violin</p>
        <ul>
          <li>Romanian Spruce front</li>
          <li>Bookmatched flamed sycamore, matching side and neck</li>
          <li>Ebony fingerboard, rosewood fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
        (click)="enlarge($event)"
        src="../../assets/Lipara/Front.JPG"
        alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Lipara/Back.JPG"
          alt=""
        />
        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Lipara/Side.JPG"
          alt=""
        /><img
        (click)="enlarge($event)"
        src="../../assets/Lipara/F-hole.JPG"
        alt=""
      />
        <img
        (click)="enlarge($event)"
        src="../../assets/Lipara/Scroll detail.JPG"
        alt=""
        />
        
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Lipara/Bridge detail.JPG"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Lipara/Scroll.JPG"
          alt=""
        />
      </div>
      <div class="instrument-object-info">
        <h3>Viola 16"  'Lipara'</h3>
        <p class="sale">For sale at private workshop in Invergarry</p>
        <p>Based on the Brother's Amati 1615 'The Stauffer' Viola</p>
        <ul>
          <li>Alpine spruce front</li>
          <li>Bookmatched plain maple back, matching side and neck</li>
          <li>Ebony fingerboard, boxwood fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Rhamnousía/IMG_4763.JPG"
          alt=""
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Rhamnousía/IMG_4772-2.JPG"
          alt=""
        />
        <img
        (click)="enlarge($event)"
        src="../../assets/Rhamnousía/IMG_4764.JPG"
        alt=""
      />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Rhamnousía/IMG_4756.JPG"
          alt=""
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Rhamnousía/IMG_4759.JPG"
          alt=""
        />
        <img class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Rhamnousía/IMG_4768-2.JPG"
          alt=""
        />
      </div>
      <div class="instrument-object-info">
        <h3>Violin 'Rhamnousía'</h3>
        <!-- <p class="sale">For sale at <a href="https://www.facebook.com/StorybookInstrumentWorkshop/">Storybook Instrument Workshop</a> in Glasgow</p> -->
        <p class="sale">For sale at <a href="https://potterviolins.com/">Potter Violins</a> in Washington DC</p>
        <p>Based on the Carlo Bergonzi 1731 violin</p>
        <ul>
          <li>Romanian spruce front</li>
          <li>One piece flamed Maple back, matching maple side and neck</li>
          <li>Ebony fingerboard, rosewood fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Abel/1 front.JPG"
          alt="front of violin"
        />
        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Abel/2 Back.JPG"
          alt="back of violin"
        />
        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Abel/3 Side.JPG"
          alt="side of violin"
        />
        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Abel/4 Scroll close up.JPG"
          alt="close up of violin scroll"
        />

        <img
          class="taller-image"
          (click)="enlarge($event)"
          src="../../assets/Abel/11 f-hole close up.JPG"
          alt="close up of violin"
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Abel/6 Scroll detail.JPG"
          alt="detail of violin scroll"
        />
      </div>
      <div class="instrument-object-info">
        <h3>Violin 'Abel'</h3>
        <p class="sale">Sold!</p>
        <p>Based on the "Kruse" Antonio Stradivarius violin</p>
        <ul>
          <li>Romanian spruce front</li>
          <li>Flamed maple back, sides and neck</li>
          <li>Ebony fingerboard and rosewood fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0280.jpg"
          alt="front of violin"
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0281.jpg"
          alt="back of violin"
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0262.jpg"
          alt="violing lying down with focus on the bridge"
        />
        <img
          class="landscape"
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0272.jpg"
          alt="violin head from the side"
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Cain/DSCF0273.jpg"
          alt="front of violin head"
        />
      </div>
      <div class="instrument-object-info">
        <h3>Violin 'Cain'</h3>
        <p class="sale">For sale at <a href="https://bridgewoodandneitzert.london/">Bridgewood and Neitzert Violins</a> in London</p>
        <p>Based on the "Kruse" Antonio Stradivarius violin</p>
        <ul>
          <li>Romanian spruce front</li>
          <li>Flamed sycamore back, sides and neck</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
    <div class="credit">
      <p class="credit-text">Photos by Nicky Murray</p>
      <a href="https://www.instagram.com/nickymurrayphotography/">
        <img
          class="credit-link"
          src="../../assets/instagram-svgrepo-com.svg"
          alt=""
      /></a>
    </div>
    <div class="separator"></div>
    <div class="instrument-object">
      <div class="gallery">
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/cello front.jpg"
          alt="cello leaning on a brick wall facing forward"
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/Scroll detail.jpg"
          alt="detail of cello head"
        />
        <img
          (click)="enlarge($event)"
          src="../../assets/Lilith/cello back.jpg"
          alt="cello leaning on a brick wall facing backward"
        />
      </div>
      <div class="instrument-object-info">
        <h3>Cello 'Lilith'</h3>
        <p class="sale">Not for sale/gifted to a friend</p>
        <p>Based on the 1717 Pietro Giacomo Rogeri Cello</p>
        <ul>
          <li>Wide grained alpine spruce top</li>
          <li>Plain maple sides and neck</li>
          <li>Poplar back</li>
          <li>Ebony fittings</li>
        </ul>
      </div>
    </div>
    <div class="separator"></div>
    <div>
      <div class="instrument-object">
        <div class="gallery">
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin1/DSCF0301.jpg"
            alt="front of violin"
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin1/DSCF0302.jpg"
            alt="back of violin"
          />
          <img
            class="landscape"
            (click)="enlarge($event)"
            src="../../assets/Violin1/DSCF0293.jpg"
            alt="violin head from the side"
          />
          <img
            class="landscape"
            (click)="enlarge($event)"
            src="../../assets/Violin1/DSCF0295.jpg"
            alt="violing lying down with focus on the bridge"
          />
        </div>

        <div class="instrument-object-info">
          <h3>Violin</h3>
          <p class="sale">For sale at <a href="https://www.wrightviolins.com/">Tim Wright Fine Violins</a> in Edinburgh</p>
          <p>Based on "The Messiah" Antonio Stradivarius violin</p>
          <ul>
            <li>Alpine spruce front</li>
            <li>Plain maple back, side and neck</li>
            <li>Ebony fittings</li>
          </ul>
        </div>
      </div>
      <div class="credit">
        <p class="credit-text">Photos by Nicky Murray</p>
        <a href="https://www.instagram.com/nickymurrayphotography/">
          <img
            class="credit-link"
            src="../../assets/instagram-svgrepo-com.svg"
            alt=""
        /></a>
      </div>
      <div class="separator"></div>
      <div class="instrument-object">
        <div class="gallery">
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin2/IMG_4651.JPG"
            alt="front of violin"
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin2/IMG_4653.JPG"
            alt="back of violin"
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin2/IMG_4658.JPG"
            alt="violin head from the front"
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin2/IMG_4660.JPG"
            alt="violin head from the side"
          />
          <img
            (click)="enlarge($event)"
            src="../../assets/Violin2/IMG_4661.JPG"
            alt="violinhead from the side"
          />
        </div>
        <div class="instrument-object-info">
          <h3>Violin</h3>
          <p class="sale">Sold!</p>
          <p>Based on "The Messiah" Antonio Stradivarius violin</p>
          <ul>
            <li>Alpine spruce front</li>
            <li>Flamed maple back, sides and neck</li>

            <li>Ebony fittings</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div (click)="close($event)" id="shower">
    <div class="viewed">
      <img src="" id="viewed-image" />
      <p>Click anywhere to close image</p>
    </div>
  </div>
</div>
